* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  background: #0a1128;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#header {
  background: rgba(10, 17, 40, 0.4);
  padding: 20px 0;
  position: fixed;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  gap: 50px;
}

.box a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons2 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
  border: none;
  padding: 0 25px 0 0;
}

.buttons3 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 48px;
  border-radius: 5px;
  background: #034078;
  border: none;
}

/* .box a {
  display: none;
} */

.burger-menu {
  color: white;
  font-size: 55px;
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.top h1 {
  max-width: 516px;
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  width: 100%;
}

.top p {
  max-width: 419px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 125% */
  margin-top: 35px;
  width: 100%;
}

.tops img {
  max-width: 100%;
}

.foto2 {
  margin-top: 84px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.foto h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 97.222% */
  text-align: center;
  margin-top: 211px;
  max-width: 100%;
}

.tops {
  width: 375.546px;
  height: 338.731px;
  flex-shrink: 0;
  background: white;
  border-radius: 20px;
  max-width: 100%;
}

.tops a {
  color: #898989;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding: 12px 17px 0 17px;
  max-width: 100%;
}

.tops p {
  width: 322px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 17px;
  margin-top: 10px;
  max-width: 100%;
}

.svg {
  display: flex;
  align-items: center;
  color: #044176;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 7.31px;
  margin-left: 17px;
}

.svg2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 168px; */
  margin-top: 21px;
}

.tops span {
  color: #044176;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 100%;
  padding: 0 20px 0 0;
}

.butto button {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 18px 40px;
  border-radius: 5px;
  background: #034078;
  border: none;
}
.butto {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.tops h2 {
  font-size: 14px;
  font-weight: 400;
}
.mec {
  display: flex;
  justify-content: space-between;
  padding: 73px 70px;
  width: 1170px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 9px 9px 9px 0px rgba(10, 15, 33, 0.45),
    -5px -3px 10px 0px rgba(16, 23, 47, 0.45);
  margin-top: 143px;
}

.mec2 h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 100%;
}

.mec2 p {
  max-width: ;
  width: 458px;
  max-height: 56px;
  flex-shrink: 0;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  max-width: 100%;
}

.mec3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.mec4 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 15px 25px;
  border-radius: 5px;
  background: #034078;
  border: none;
  max-width: 100%;
}

.mec5 {
  color: #767676;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
  border: none;
  max-width: 100%;
}
.kot {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.herdero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chek2 {
  width: 270px;
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 93.75% */
}
.jjjj {
  width: 700.011px;
  height: 1.5px;
  background: #767676;
}
.chek2 img {
  padding: 44px 0 0 24px;
}

.chek3 h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.aibeko {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blok {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.blok2 h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 18px;
}

.blok2 p {
  width: 426px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
}

.blok3 p {
  color: #b5b5b5;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 18px;
}

.blok3 input {
  width: 710px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(114, 122, 146, 0.4);
  background: none;
  border: 2px solid white;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.blok3 button {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 18px 90px;
  border-radius: 10px;
  background: #044076;
  border: none;
  cursor: pointer;
  margin-top: 26px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  padding: 0 0 50px 0;
}

.footer h1 {
  color: #fff;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 55px;
  padding: 0 0 15px 0;
}

.footer a {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.ttt {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ttt2 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rr {
  display: flex;
  align-items: center;
  gap: 12px;
}

.img {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.img3 img {
  padding: 5px 9px;
}

.img4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img5 p {
  width: 195px;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
}

.img2 a {
  display: flex;
  padding: 7px 0;
}

.img3 h2 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 0 20px 0;
}
